<h1>ユーザー新規登録</h1>
<%= form_with(model: @user, local: true) do |f| %>
  <div>
    <%= f.label :アカウント名 %><br>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :メールアドレス %><br>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :パスワード %><br>
    <%= f.password_field :password %>
  </div>
  <div>
    <%= f.label :パスワード（確認用） %><br>
    <%= f.password_field :password_confirmaiton %>
  </div>
  <div>
    <%= f.submit "新規登録", disable_with: '新規登録...' %>
  </div>
<% end %>